.form-wrapper {
  @media only screen and (min-width: 650px) {
    width: 70%;
    max-width: 500px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightcyan;
  -webkit-box-shadow: 10px 9px 97px -45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 9px 97px -45px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 9px 97px -45px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  padding: 3rem;
  border-radius: 0.5rem;
  max-width: 100%;
  margin: 4rem auto 0;
  &__message {
    line-height: 1.25rem;
    margin-bottom: 2rem;
    height: 10rem;
  }
  &__email {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    border: none;
    color: #247291;
    border-radius: 0.5rem;
    &:focus {
      outline: none;
    }
  }

  textarea {
    resize: none;
    padding: 1rem;
    box-sizing: border-box;
  }

  label {
    margin: 0 auto;
    padding-bottom: 0.25rem;
    color: #247291;
  }

  &__submit {
    background-color: rgb(188, 188, 216);
    text-align: center;
    border-radius: 0.5rem;
  }
}

.contact-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-contact {
  padding-bottom: 0.15rem;
}