.work {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  &icons {
    height: 10rem;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 20rem;
  height: 14rem;
  color: #247291;
  font-size: 0.75rem;
  padding: 0;
  margin: 0 0 3rem 0;
  & ul {
    list-style: none;
  }
  &__description {
    height: 100%;
    &-item {
      //line-height: 40px;
      width: auto;
      padding: 0.25rem 1rem;
      font-size: 0.85rem;
      font-family: open sans;
    }
  }

  &__side {
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    // width: auto;
    height: inherit;
    // max-height: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    &__button {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
    &--back {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      transform: rotateY(-180deg);
      border: 2px solid #f8da5b;
      background-color: #f8f7f5;
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
  &__icons {
    padding: 6rem 0 1rem;

    & > img {
      padding: 0.5rem;
      color: grey;
      width: 2rem;
      height: 2rem;
    }
  }

  .screenshot {
    width: 20rem;
    height: 14rem;
    object-fit: cover;
    &-2 {
      max-width: 100%;
    }
  }
}
.github-wrap {
  display: block;
  margin: -2rem auto 0 auto;
  padding: 0;
  width: 100%;
}
.github-link {
  padding: 0;
  width: 2.25rem;
}
